
body{
    background-color: #D4D4D4;
}

.nav-item .nav-link {
    color: #4CAF50; /* Default color */
    transition: color 0.3s ease; /* Smooth transition for color change */
    font-size: 20px;
  }

  .nav-item .nav-link:hover {
    color: #FF6F61; /* Color on hover */
  }

  #logo-image{
    width: 205px;
    object-fit: cover;
  }

  #navbarr{
    height: 13vh;
}


  @media (max-width:768px) {

    #logo-image{
        width: 100px;
    }

    #navbarr{
        height:auto;
    }
    #page-tag{
        margin-top: 15px;
    }

}

/* Why choose us section styles */

.why-us h2 {
    position: relative;
    margin-bottom: 35px;
}
.why-us h2::after {
    content: "";
    width: 120px;
    height: 3px;
    display: inline-block;
    background: #FFC107;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: -20px;
    margin: 0 auto;
}

.why-us .box {
    padding: 50px 30px;
    box-shadow: 0px 2px 15px #0077CC;
    transition: 0.5s;
    position: relative;
    background-color: #4CAF50;
    max-height: 300px;
    overflow: hidden;
    margin-bottom: 30px;
    border-radius: 10px;
}

@media (max-width:425px) {

    .why-us .box{
        overflow-y: scroll;
    }

}

.why-us .box:hover {
	padding: 30px 30px 70px 30px;
	box-shadow: 10px 15px 30px #0077CC;
	background-color: none;
}
.why-us .box img {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	z-index: -1;
	opacity: 0;
	transition:all ease 1s;
}
.why-us .box:hover img {
	opacity: 1;
}
.why-us .box span {
    display: block;
    font-size: 56px;
    font-weight: 700;
    color: #FF6F61;
    position: absolute;
    right: 10px;
    top: 0px;
    line-height: normal;
}
.why-us .box h4 {
	font-size: 24px;
	font-weight: 600;
	padding: 0;
	margin: 20px 0;
	color: white;
	text-decoration: none;
}
.why-us .box p {
	color: #aaaaaa;
	font-size: 15px;
	margin: 0;
	padding: 0;
}
.why-us .box:hover span,
.why-us .box:hover h4 a,
.why-us .box:hover p {
  	color: #fff;
}

/*Services Page */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,900);

html,
body {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  height: 100%;
  width: 100%;
  background: #FFF;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.wrapper {
  display: table;
  height: 100%;
  width: 100%;
}

.container-fostrap {
  display: table-cell;
  padding: 1em;
  text-align: center;
  vertical-align: middle;
}
.fostrap-logo {
  width: 100px;
  margin-bottom:15px
}
h1.heading {
  color: #fff;
  font-size: 1.15em;
  font-weight: 900;
  margin: 0 0 0.5em;
  color: #505050;
}
@media (min-width: 450px) {
  h1.heading {
    font-size: 3.55em;
  }
}
@media (min-width: 760px) {
  h1.heading {
    font-size: 3.05em;
  }
}
@media (min-width: 900px) {
  h1.heading {
    font-size: 3.25em;
    margin: 0 0 0.3em;
  }
}
.card {
  display: block;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    transition: box-shadow .25s;
}
.card:hover {
  box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.img-card {
  width: 100%;
  height:200px;
  border-top-left-radius:2px;
  border-top-right-radius:2px;
  display:block;
    overflow: hidden;
}
.img-card img{
  width: 100%;
  height: 200px;
  object-fit:cover;
  transition: all .25s ease;
}
.card-content {
  padding:15px;
  text-align:left;
}
.card-title {
  margin-top:0px;
  font-weight: 700;
  font-size: 1.65em;
}
.card-title a {
  color: #000;
  text-decoration: none !important;
}
.card-read-more {
  border-top: 1px solid #D4D4D4;
}
.card-read-more a {
  text-decoration: none !important;
  padding:10px;
  font-weight:600;
  text-transform: uppercase
}


/* Scroll Top Button Styles */

#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
  }


  /* About Overlay */

  .overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity as needed */
    color: white;
    padding: 10px 20px;
    font-size: 24px;
    font-weight: bold;
    width: 100%;
    text-align: center;
    z-index: 1001; /* Ensure the text appears above the image */
}

/* Underline Styles */


h1 {
    padding: 30px;
    position: relative;

  }


  h1::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 16px;
    width: 100px;
    height: 6px;
    transform: skew(-12deg) translateX(-50%);
    background: rgba(238,111,87,0.5);

  }

  #heroheader{
    padding: 0;

}
  #heroheader::before{
     content: none;

}

#slogan{
    font-size:22px
}

/* Solgan Responsiveness */

@media (max-width:768px){

    #slogan{
        font-size: 13px;
        margin-top: 30px;
    }
}



